# Data Mining project: Part 1-  Exploratory Data Analysis  
## Maria Pereira 20240314  
## Miguel Mangerona 20240595  
## Rita Morgadito 20240611

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("DM2425_ABCDEats_DATASET.csv")

In [8]:
df.head(15)

,customer_id,customer_region,customer_age,vendor_count,product_count,is_chain,first_order,last_order,last_promo,payment_method,...,HR_14,HR_15,HR_16,HR_17,HR_18,HR_19,HR_20,HR_21,HR_22,HR_23
0,1b8f824d5e,2360,18.0,2,5,1,0.0,1,DELIVERY,DIGI,...,0,0,0,0,2,0,0,0,0,0
1,5d272b9dcb,8670,17.0,2,2,2,0.0,1,DISCOUNT,DIGI,...,0,0,0,0,0,0,0,0,0,0
2,f6d1b2ba63,4660,38.0,1,2,2,0.0,1,DISCOUNT,CASH,...,0,0,0,0,0,0,0,0,0,0
3,180c632ed8,4660,NaN,2,3,1,0.0,2,DELIVERY,DIGI,...,1,0,0,0,0,0,0,0,0,0
4,4eb37a6705,4660,20.0,2,5,0,0.0,2,-,DIGI,...,0,0,0,0,0,0,0,0,0,0
5,6aef2b6726,8670,40.0,2,2,0,0.0,2,FREEBIE,DIGI,...,0,0,0,0,0,0,0,0,0,0
6,8475ee66ef,2440,24.0,2,2,2,0.0,2,-,CARD,...,0,0,0,1,0,0,0,0,0,0
7,f2f53bcc67,8670,27.0,2,3,2,0.0,2,DISCOUNT,DIGI,...,0,1,0,0,0,0,0,0,0,0
8,5b650c89cc,2360,20.0,3,4,2,0.0,3,DISCOUNT,DIGI,...,0,0,0,1,0,1,0,0,0,1
9,84775a7237,8670,20.0,2,3,0,0.0,3,DELIVERY,CARD,...,0,0,0,0,0,0,0,0,0,0
10,dd4bcde51a,2360,20.0,2,4,2,0.0,3,DELIVERY,CASH,...,0,0,0,0,0,1,0,0,0,0
11,4eff9f04bf,4660,18.0,2,3,1,0.0,4,DELIVERY,CARD,...,0,0,1,0,1,0,0,0,0,0
12,8733352e37,-,33.0,2,3,1,0.0,4,DISCOUNT,DIGI,...,0,0,0,0,0,0,0,0,0,0
13,dce8e4700a,8670,26.0,2,2,0,0.0,4,-,DIGI,...,0,0,0,0,0,0,0,0,0,0
14,f3070b7bbf,2360,21.0,2,2,2,0.0,4,-,CASH,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df["customer_region"].unique()

array(['2360', '8670', '4660', '2440', '-', '4140', '2490', '8370',
       '8550'], dtype=object)